.register-container {
  min-height: 100vh;
  background-color: #f8f9fa;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 20px;
}

.register-card {
  width: 100%;
  max-width: 500px;

  border: none;
  border-radius: 12px;

  padding: 30px;
}

.form-control {
  min-height: 45px;
}