<div class="login-container">

  <div class="card login-card shadow">

    <div class="text-center mb-4">
      <h2 class="fw-bold">Smart Cart</h2>
      <p class="text-muted mb-0">
        Sign in to continue shopping
      </p>
    </div>

    <form #loginForm="ngForm"
          (ngSubmit)="onSubmit()">

      <!-- Email -->

      <div class="mb-3">

        <label class="form-label">
          Email *
        </label>

        <input
          type="text"
          class="form-control"
          name="email"
          [(ngModel)]="loginDto.email"
          #email="ngModel"
          pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
          required
          email>

        <small
          class="text-danger"
          *ngIf="submitted && email.errors?.['pattern']">

          Please enter a valid email
        </small>
        <small
          class="text-danger"
          *ngIf="submitted && email.errors?.['required']">

          Email is required
        </small>

      </div>

      <!-- Password -->

      <div class="mb-3">

        <label class="form-label">
          Password *
        </label>

        <input
          type="password"
          class="form-control"
          name="password"
          [(ngModel)]="loginDto.password"
          #password="ngModel"
          required>

        <small
          class="text-danger"
          *ngIf="submitted && password.invalid">

          Password is required
        </small>

      </div>

      <button
        type="submit"
        class="btn btn-primary w-100">

        Login

      </button>

    </form>

    <div class="text-center mt-3">

      <span class="text-muted">
        Don't have an account?
      </span>

      <a routerLink="/auth/register"
         class="text-decoration-none ms-1">

        Register

      </a>

    </div>

  </div>

</div>