<div class="container mt-4">

  <h2 class="mb-4 fw-bold">
    My Cart
  </h2>

  <div *ngIf="cart?.cartItems?.length; else emptyCart">

    <div
      class="card mb-3 shadow-sm"
      *ngFor="let item of cart.cartItems">

      <div class="card-body">

        <div class="row align-items-center">

          <!-- Product Image -->

          <div class="col-md-2 text-center">

            <img
              [src]="'http://localhost:5096' + item.imageUrl"
              [alt]="item.productName"
              class="img-fluid rounded"
              style="height:120px; object-fit:contain;">

          </div>

          <!-- Product Name -->

          <div class="col-md-3">

            <h5 class="mb-0">
              {{ item.productName }}
            </h5>

          </div>

          <!-- Price -->

          <div class="col-md-2 text-center">

            <strong>
              ₹ {{ item.price }}
            </strong>

          </div>

          <!-- Quantity -->

          <div class="col-md-2 text-center">

            <div class="d-flex justify-content-center align-items-center">

              <button
                class="btn btn-outline-secondary btn-sm"
                (click)="decreaseQuantity(item)">

                <i class="bi bi-dash-lg"></i>

              </button>

              <span class="mx-3 fw-bold">

                {{ item.quantity }}

              </span>

              <button
                class="btn btn-outline-primary btn-sm"
                (click)="increaseQuantity(item)">

                <i class="bi bi-plus-lg"></i>

              </button>

            </div>

          </div>

          <!-- Subtotal -->

          <div class="col-md-2 text-center">

            <strong class="text-success">

              ₹ {{ item.price * item.quantity }}

            </strong>

          </div>

          <!-- Remove -->

          <div class="col-md-1 text-center">

            <button
              class="btn btn-outline-danger btn-sm"
              (click)="removeItemFromCart(item)">

              <i class="bi bi-trash"></i>

            </button>

          </div>

        </div>

      </div>

    </div>

    <!-- Cart Summary -->

    <div class="card shadow">

      <div class="card-body text-end">

        <h4>

          Total:
          <span class="text-success">

            ₹ {{ getTotalAmount() }}

          </span>

        </h4>

        <button
          class="btn btn-success btn-lg mt-2" routerLink="/checkout">

          Proceed To Checkout

        </button>

      </div>

    </div>

  </div>

  <ng-template #emptyCart>

    <div class="alert alert-info">

      Your cart is empty.

    </div>

  </ng-template>

</div>