<div class="container mt-4">

  <h2 class="mb-4">
    Products
  </h2>

  <div class="row">

    <div
      class="col-lg-3 col-md-4 col-sm-6 mb-4"
      *ngFor="let product of products">

      <div class="card h-100 shadow-sm product-card">

        <img
          [src]="product.imageUrl"
          [alt]="product.name"
          class="card-img-top product-image">

        <div class="card-body">

          <h5 class="card-title text-truncate">
            {{ product.name }}
          </h5>

          <p class="card-text text-muted small">
            {{ product?.description | slice:0:7 }}
            <span *ngIf="product?.description?.length! > 7">
              ...
            </span>
          </p>

          <h4 class="text-success fw-bold">
            ₹ {{ product.price }}
          </h4>

        </div>

        <div class="card-footer bg-white border-0">

          <div class="d-grid gap-2">

            <button class="btn btn-outline-primary" [routerLink]="['/products', product.id]">
            
              View Details
            
            </button>

            <button
              class="btn btn-success" (click)="addToCart(product.id)">

              Add To Cart

            </button>

          </div>

        </div>

      </div>

    </div>

  </div>

</div>